<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="utf-8">
    {% include 'components/site_head_meta.html' %}
    <title>ModelGate</title>
    <link rel="icon" href="{{ app_base_path }}/favicon.ico" sizes="any">
    <link rel="stylesheet" href="/static/css/output.css?v={{ css_version }}">
    <link rel="stylesheet" href="/static/css/particle-bg.css?v={{ css_version }}">
    <script src="/static/js/particle-bg.js?v={{ css_version }}"></script>
    <script src="/static/js/particle-burst.js?v={{ css_version }}"></script>
    <script src="/static/js/chart.min.js"></script>
    <script>
        const APP_BASE_PATH = {{ app_base_path | tojson }};
    </script>
</head>
<body class="bg-gray-100 min-h-screen">
    {% set v2_standalone = true %}
    {% include 'user/tab_stats_v2.html' %}
</body>
</html>
